@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.background-header{
   height: 8rem;
}

.imagem-carrosel {
    object-fit: cover;
    object-position: 0 80%;
    height: 30rem;
}

.nav-link {
    margin-left: 2rem;
}

.navbar-nav {

    margin-right: 15rem;
}



.titulos-carrosel {
   font-weight: 500;
   font-family: 'Big Shoulders Display', cursive;
    color: seashell;
}
.tituloDoMeio{
color: rgb(190, 16, 45);
   font-family: 'Big Shoulders Display', cursive;
   margin-top: 2.5rem;
}
.paragrafoDoMeio{
    margin-bottom: 2.5rem;
}

.imagens-comidas {

    width: 21rem;
    object-fit: cover;
}
.footer-map{

    margin-top: 2rem;
}
.widthCard{
    width: 18rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}
.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-position-img{

    object-fit: cover;
    height: 250px;
}
.botao-cor{
    background-color: #34af23;
    color: rgb(247, 241, 220);
}
.imagemCardMeio{

     margin-left: 5rem;
     margin-right: 5rem;
}
.imagens-comidar:hover {

    opacity: 0.9;
}

.imagem-overlay {
    position: absolute;
    top: 50;
    left: 10;
    width: 20rem;
    height: 20rem;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-family: 'Big Shoulders Display', cursive;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.60s;
}

.imagem-overlay2 {

    position: absolute;
    top: 50;
    background: rgba(0, 0, 0, 0.6);
    width: 20rem;
    height: 20rem;
    color: #fff;
    left: 70;
    font-family: 'Big Shoulders Display', cursive;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.60s;
}

.imagem-overlay3 {
    position: absolute;
    top: 50;
    background: rgba(0, 0, 0, 0.6);
    width: 20rem;
    height: 20rem;
    color: #fff;
    left: 120;
    font-family: 'Big Shoulders Display', cursive;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.60s;
}
.imagem-overlay3:hover{
    opacity: 1;
}
.imagem-title3{
    font-size: 2em;
    font-weight: bold;
}
.imagem-paragraf3{
    font-size: 1.5em;
}

.imagem-title2 {
    font-size: 2em;
    font-weight: bold;
}

.imagem-paragraf2 {
    font-size: 1.5em;
}

.imagem-overlay2:hover {
    opacity: 1;
}

.imagem-overlay:hover {
    opacity: 1;
}

.imagem-overlay>* {

    transition: translateY(20px);
}

.imagem-title {
    font-size: 2em;
    font-weight: bold;
}

.imagem-paragraf {
    font-size: 1.5em;
}

.itens {
   
    width: 100%;
    height: 50px;
    height: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    display: flex;
    justify-content: center;

    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.item2 {
    display: flex;
    justify-content: center;
   
    width: 20rem;
    height: 20rem;
    margin-right: 8rem;
    margin-left: 8rem;
    overflow: hidden;
}

.item3 {
    display: flex;
    justify-content: center;
  
    width: 20rem;
    height: 20rem;
    overflow: hidden;

}